.notification {
  width: 400px;
  height: 60px;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 4px;
  margin: 15px 10px 0 0;
  top: 0;
  right: 0;
  font-size: 20px;
}
