html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.header {
  color: #3545a9;
  font-size: 35px;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}
